<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="omsk.turinfo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="database2.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="24" />
        <meta-data
            android:name="AA_MODELS"
            android:value="omsk.turinfo.models.Places,                           omsk.turinfo.models.Route1,                            omsk.turinfo.models.Route2,                            omsk.turinfo.models.Route3,                            omsk.turinfo.models.Route4,                            omsk.turinfo.models.Route5,                            omsk.turinfo.models.Route6,                            omsk.turinfo.models.Route7" />

        <activity
            android:name="omsk.turinfo.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_note" />

        <activity
            android:name="omsk.turinfo.PlaceActivity2"
            android:label=" "
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="omsk.turinfo.PhotoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="omsk.turinfo.RouteActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="omsk.turinfo.StartActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="omsk.turinfo.InMoreActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>